[submodule "frontend"]
	path = frontend
	url = https://github.com/AlexGeniusMan/Avia-Hack-2022-RealityX-Frontend
[submodule "proxy"]
	path = proxy
	url = https://github.com/AlexGeniusMan/Avia-Hack-2022-RealityX-Proxy
[submodule "backend"]
	path = backend
	url = https://github.com/AlexGeniusMan/Avia-Hack-2022-RealityX-Backend
[submodule "ml"]
	path = ml
	url = https://github.com/AlexGeniusMan/Avia-Hack-2022-RealityX-ML
